
<div class="nav">
    <nav class="navMenuCards">
        <a href="{{ path('books_show_all') }}">Visa alla böcker</a>
        <a href="{{ path('books_create_form') }}">Lägg till en bok</a>
        <a href="{{ path('books_update') }}">Uppdatera detaljer om en bok</a>
    </nav>
</div>
