{% extends 'base.html.twig' %}

{% block title %}Bibliotek{% endblock %}

{% block content %}
    <div class="cards-main-landing">
        <h1>Alternativ för böcker</h1>
        {{ include('/books/_books_nav.html.twig') }}

    </div>

{% endblock %}
