$font-color: #444;
$title-color: #111;
$border-color: #222;
$icon-color: #222;
$blockquote-border-color: #f5f5f5;
$code-border-color: #ccc;
$code-background-color: #f5f5f5;
$mobile-menu-toggle-color: #333;
$accent-color: #ee6c4d;
$header-background-color: #d9f5ff;
$main-background-color: #ffedd9;
$footer-background-color: #d9f5ff;
$tech-boxes-background-color: #BFCBFF;
$tech-boxes-bottom-border-color: #86a7b3;
$body-link-color: #4848f0;
$body-visited-link-color: #9932cc;

$background-alternative-color: #e0fbfc;
$font-alternative-color: #fff;
