
<ul class="deck">
    {% if cardsLeft > 30 %}
        {% for i in 0..cardsLeft - 12 %}
            <li>
                <div class="card back">*</div>
            </li>
        {% endfor %}
    {% else %}
        {% for i in 0..cardsLeft %}
            <li>
                <div class="card back">*</div>
            </li>
        {% endfor %}
    {% endif %}
</ul>
