{% extends 'base.html.twig' %}

{% block title %}Spelkort{% endblock %}

{% block content %}
    <div class="cards-main-landing">
        <h1>Spelkort</h1>
        {{ include('/card/_card_nav.html.twig') }}

    </div>

{% endblock %}
