{% extends 'base.html.twig' %}

{% block title %}Kortspel{% endblock %}

{% block content %}
    <div class="card-main">
        <h1>Kortspel</h1>
        {{ include('/card/card_nav.html.twig') }}

    </div>

{% endblock %}
