
.about-proj {
    margin-bottom: 50px;
}

.about-proj a {
    color: #2D7551;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px;
    width: 80px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.about-proj a:hover {
    text-decoration: underline;
}

.cards-main-landing {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 850px;
    max-width: 880px;
}

.cards-main-landing h1 {
    margin-top: 50px;
    color: #CC3333;
}

.cards-main-landing h2 {
    color: #ffffff;
}

.cards-main-landing p {
    font-size: 20px;
    color: #ffffff;
    text-align: left;
    line-height: 1.6;
}