input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

input[type=submit] {
    width: 100%;
    background-color: #CC3333;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2D7551;
    color: #fff;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 20%;
    margin: auto;
    margin-bottom: 500px;
}

.game-buttons {
    width: fit-content;
    margin: 0 auto 100px;
}
