{% extends 'base.html.twig' %}

{% block title %}Metrics{% endblock %}

{% block content %}
    <div class="report-main">
        {{ include('metrics/analyse.markdown.twig')|markdown_to_html }}
    </div>

{% endblock %}
