
<div class="nav">
    <nav class="about-proj">
        <a href="https://www.student.bth.se/~emab21/dbwebb-kurser/mvc/me/report/docs/api/">phpdoc</a>
        <a href="https://www.student.bth.se/~emab21/dbwebb-kurser/mvc/me/report/docs/metrics/">phpmetrics</a>
        <a href="https://github.com/EmilAbra/report">GitHub repo</a>
        <a href="https://scrutinizer-ci.com/g/EmilAbra/report/?branch=main">Scrutinizer</a>
    </nav>
</div>
