
<div class="nav">
    <nav class="about-proj">
        <a href="https://www.student.bth.se/~emab21/dbwebb-kurser/mvc/me/report/docs/api/" target="_blank">phpdoc</a>
        <a href="https://www.student.bth.se/~emab21/dbwebb-kurser/mvc/me/report/docs/metrics/" target="_blank">phpmetrics</a>
        <a href="https://github.com/EmilAbra/report" target="_blank">GitHub repo</a>
        <a href="https://scrutinizer-ci.com/g/EmilAbra/report/?branch=main" target="_blank">Scrutinizer</a>
        <a href="{{ path('reset_project') }}">Återställ databasen</a>
    </nav>
</div>
