
<div class="nav">
    <nav class="navMenuCards">
        <a href="">phpdoc</a>
        <a href="">phpmetrics</a>
        <a href="">GitHub repo</a>
        <a href="">Scrutinizer</a>
    </nav>
</div>
