<div class="holdem-ai">
    <div class="player-img">
        <img src="{{ asset(aiPlayerInfo.imgPath) }}" alt="Bild på dator-spelaren">
    </div>
    <div class="player-name">
        <h3>{{ aiPlayerInfo.firstName }} {{ aiPlayerInfo.lastName }}</h3>
    </div>
    <div class="player-saldo">
        <h3>$ {{ aiPlayerInfo.saldo }}</h3>
    </div>
</div>