<div class="hand-odds">
    <h2>Hand Odds</h2>
    <table>
        <tr>
            <th>Hand</th>
            <th>Odds</th>
        </tr>
        {% for holdem in payTable %}
            <tr>
                <th>{{ holdem.hand }}</th>
                <th>{{ holdem.odds }}</th>
            </tr>
        {% endfor %}
    </table>
</div>